<!-- CREDENTIALS LIST VIEW (DISPLAYED WHILE NOT SCANNING) -->
@if(!showScannerView){
  <ion-content [fullscreen]="true" class="background-content">
    <ion-grid>
      @if(credList.length === 0 && isFirstCredentialLoadCompleted){
        <ion-row class="ion-justify-content-center">
          <div class="no-cred-box">
              <ion-text> {{"credentials.nocred"|translate}}</ion-text>
          </div>
        </ion-row>
      }@else {
        <ion-row class="ion-justify-content-center">            
          @for (cred of credList; track cred) {
              <app-vc-view (vcEmit)="vcDelete($event)" [isDetailViewActive]="true" [credentialInput$]="cred"></app-vc-view>
          }
        </ion-row>
      }
    </ion-grid>
  </ion-content>
}@else{
   <!-- SCANNER VIEW -->
  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <!-- SCANNER -->
          @if(showScanner){
            <ion-text class="scan-text" style="font-weight: bold;">{{"home.scan"|translate}}</ion-text>
            <app-barcode-scanner (qrCode)="qrCodeEmit($event)"></app-barcode-scanner>
          }
        </ion-col>
      </ion-row>
      <!-- MANUAL QR INPUT -->
      <ion-row class="ion-justify-content-center manual-qr-row">
        <ion-col>
          <ion-text class="manual-qr-label">{{"scanner.manualInput"|translate}}</ion-text>
          <div class="manual-qr-input-wrapper">
            <ion-textarea
              [(ngModel)]="manualQrValue"
              [placeholder]="'scanner.manualInputPlaceholder' | translate"
              [autoGrow]="true"
              rows="2"
              class="manual-qr-textarea"
            ></ion-textarea>
            <ion-button
              [disabled]="!manualQrValue?.trim()"
              (click)="submitManualQr()"
              size="default"
              class="manual-qr-button"
            >
              <ion-icon slot="start" name="send-outline"></ion-icon>
              {{"scanner.send"|translate}}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
 }
