<ion-content [fullscreen]="true" class="background-content">
  <div class="language-grid">
    <div class="settings-box">
      <div class="settings-pages-title">{{"language-selector.title"|translate}}</div>
      <ion-list class="list">
        <ion-radio-group class="radio-group" [ngModel]="languageSelected | async" (ionChange)="languageChange($event.detail.value)">
          @for (language of languageList; track language) {
            <ion-item class="item" button="true" detail="false" (click)="languageChange(language.code)">
              <ion-label>{{ language.name }}</ion-label>
              <ion-radio [value]="language.code" mode="md" slot="start"></ion-radio>
            </ion-item>
          }
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
</ion-content>
