<div class="modal-backdrop">
  <div class="modal-content">
    <button
      type="button"
      class="close-btn"
      (click)="onCancel()"
      [attr.aria-label]="cancelKey | translate"
    >
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <div class="icon-wrapper">
      <ion-icon [name]="icon"></ion-icon>
    </div>

    <h2>{{ titleKey | translate }}</h2>
    <p class="description">{{ descriptionKey | translate }}</p>

    <div class="modal-actions">
      <button class="btn btn-outline" (click)="onCancel()">
        {{ cancelKey | translate }}
      </button>
      <button class="btn btn-primary" [class.btn-danger]="actionVariant === 'danger'" (click)="onConfirm()">
        {{ actionKey | translate }}
      </button>
    </div>
  </div>
</div>
